<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>Perfil</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Nome do Usuario: <span th:text="${nome}"></span></h2>
        <h3>Nome do Curso: <span th:text="${curso}"></span></h3>
        <h3>Linguagem Favorita: <span th:text="${linguagemFavorita}"><span></span></h3>
    </body>
</html>
