<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Meu Primeiro Portal String Boot</title> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
            <a href="/portal">Página Incial</a>
            <a href="/servicos">Serviços</a>
            <a href="/contato">Contatos</a>
            <a href="/perfil">Perfil</a>
            <h1>Meu Primeiro Portal String Boot</h1>
        </nav>
        <p>O MVC é um design pattern que usa: model - É o modelo das classes e objetos, view - São as telas, tudo que comunica com o usuário e o controller - É oque gerencia os dados da aplicação e controla os dados externos e funções</p>
    </body>
</html>
